<div class="container-fluid d-flex login-page min-vh-100">

  <!-- Left Side (Image) -->
  <div class="w-50 d-none d-md-flex align-items-center justify-content-center ">
    <img src="img/login/regg.svg" class="img-fluid login-img p-4" alt="Register illustration">
  </div>
  <!-- Right Side (Form) -->
  <div class="w-50 d-flex flex-column justify-content-center login-container px-5">

    <h2 class="fw-bold mb-3">Create your account </h2>
    <p class="text-muted mb-4">
      Join the community and bring your creativity to life with personalized prints!
    </p>

    @if(apiError){
      <div class="alert alert-danger p-1" role="alert">
        {{apiError}}
      </div>
    }

    <form [formGroup]="RegisterForm" (ngSubmit)="register()" class="w-100">
      <div class="row g-3">

        <!-- Username -->
        <div class="col-md-6">
          <div class="form-floating">
            <input formControlName="username" type="text" class="form-control" id="username" placeholder="Username" />
            <label for="username">Username</label>
          </div>
        </div>

        <!-- First Name -->
        <div class="col-md-6">
          <div class="form-floating">
            <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First Name" />
            <label for="firstName">First Name</label>
          </div>
        </div>

        <!-- Last Name -->
        <div class="col-md-6">
          <div class="form-floating">
            <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name" />
            <label for="lastName">Last Name</label>
          </div>
        </div>

        <!-- Email -->
        <div class="col-md-6">
          <div class="form-floating">
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email" />
            <label for="email">Email</label>
          </div>
        </div>

        <!-- Phone Number -->
        <div class="col-md-6">
          <div class="form-floating">
            <input formControlName="phoneNumber" type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number" />
            <label for="phoneNumber">Phone Number</label>
          </div>
        </div>

        <!-- Password -->
        <div class="col-md-6">
          <div class="form-floating">
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password" />
            <label for="password">Password</label>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="col-md-6">
          <div class="form-floating">
            <input formControlName="rePassword" type="password" class="form-control" id="rePassword" placeholder="Confirm Password" />
            <label for="rePassword">Confirm Password</label>
          </div>
        </div>

        <!-- Role -->
        <div class="form-floating mb-3">
          <select formControlName="role" id="role" class="form-select" aria-label="Account Type">
            <option value="" disabled selected hidden>Select Your Account Type</option>
            <option value="Seller">Seller</option>
            <option value="User">User</option>
          </select>
          <label for="role">Account Type</label>
        </div>

        <!-- Seller Fields -->
        @let role = RegisterForm.get('role')?.value;
        @if (role === 'Seller') {
          <div class="col-md-6">
            <div class="form-floating">
              <input formControlName="storeName" type="text" class="form-control" id="storeName" placeholder="Store Name" />
              <label for="storeName">Store Name</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-floating">
              <textarea formControlName="description" class="form-control" id="description" placeholder="Description" style="height: 100px;"></textarea>
              <label for="description">Description</label>
            </div>
          </div>
        }

        <!-- Submit -->
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-success w-50 my-3">Register</button>
          <p class="mt-3 text-muted">
            Already have an account?
            <a routerLink="/login" class="text-decoration-none fw-bold">Sign In</a>
          </p>
        </div>
        <!-- Already have account -->
        <!-- <div class="text-center">
          <p class="mt-3 text-muted">
            Already have an account?
            <a routerLink="/login" class="text-decoration-none fw-bold">Sign In</a>
          </p>
        </div> -->
      </div>
    </form>
  </div>

</div>
